 body {
     font-size: 16px;
     color: azure;
     background-color: lightskyblue;
     font-family: "Oxygen", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 #header-nav {
     background-color: steelblue;
     border-radius: 0%;
     border: 0;
 }

 #logo-img{
     background: url('../LogoA.png') no-repeat;
     width: 150px;
     height: 150px;
     margin: 0;
 }

 .navbar-brand {
     padding-top: 25px;
 }

 .navbar-brand h1{
     font-family: 'Monoton', serif;
     color: oldlace;
     font-size: 2em;
     text-transform: uppercase;
     font-weight: bold;
     text-shadow: slategrey  3px 3px 3px;
     line-height: .75;
 }

 .navbar-brand a:hover, .navbar-brand a:focus {
     text-decoration: none;
 }

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: lightcyan;
  text-align: center;
}
#nav-list a:hover {
  background: slategrey;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 10px;
}
#phone div { /* We Can Help */
  color: lightcyan;
  text-align: right;
  padding-right: 15px;


 